/* all images found on pexels.com */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding: 2%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 1%;
}

a {
    color: white;
}

#hero {
    text-align: center;
    padding: 5%;
    background-image: url('desktop-image.png');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    color: white;
}

#engines,
#get-started,
#popular-games {
    background: #fff;
    padding: 2%;
    margin: 2% 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1%;
}

/* Media query for tablets and mobile */
@media screen and (max-width: 768px) {
    #hero {
        background-image: url('smaller-image.png');
    }
}



/* Media Queries for Tablet and Mobile Screens */
@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 5% 0;
    }

    #hero {
        padding: 3%;
    }

    #engines,
    #get-started,
    #popular-games {
        padding: 2%;
        margin: 5% 0;
    }
}
