/* all images found on pexels.com */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding: 2%;
   
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 1%;
}

a {
    color: white;
}

#welcome {
    text-align: center;
    padding: 5%;
    background-image: url('desktop-image.png');
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', Times, serif

}

#engines,
#get-started,
#popular-games {
    background: #fff;
    padding: 2%;
    margin: 2% 0;
    border: 1px solid;
    border-color:#333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1%;
}

/* default image row styling */
#image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

/* default image styling */
#image-row img {
    width: 30%;
    max-width: 200px;
    height: auto;
}

/* implementing styled button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #003162; 
    color: #fff; 
    text-decoration: none;
    border: none;
    border-radius: 4px; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

/* darker blue on hover */
.button:hover {
    background-color: #001f3c; 
}


/* media queries for tablet and mobile screens */
@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 5% 0;
    }

    #welcome {
        background-image: url('smaller-image.png');
        padding: 3%;
    }

    #engines,
    #get-started,
    #popular-games {
        padding: 2%;
        margin: 5% 0;
    }

    #image-row {
        flex-direction: column; 
        align-items: center;
    }

    #image-row img {
        width: 20%;
        margin: 10px 0;
    }
}
